<div class="topbar">

    <div class="LogoPos">
        <img class="Logo" src="assets/Logo1.png" alt="Logo">
    </div>

    <h1 class="top-header left-to-right ">
        Verum News <br>
        <p class="Elim"> Eliminate misinformation</p>
    </h1>

    <div class="Tabs left-to-right">
        <div class="NavPanelCon"></div>
        <a href="javascript:void(0)" (click)="changePage('news')">News</a>
        <a href="Reals.html">Reals</a>
        <a href="Donations.html">Donations</a>
        <a href="Mission.html">Our Mission</a>
        <a href="javascript:void(0)" (click)="changePage('sign-in')"> Sign in!</a>
    </div>

</div>
<hr>