.topbar {
    display: flex;
    margin: 0;
    padding-right: 180px;
    padding-top: 5px;
    padding-bottom: 0px;
    white-space: nowrap;
    font-family: "Garamond";
    background: linear-gradient(90deg, rgba(135,157,186,1) 59%, rgba(16,75,143,1) 100%);
    flex-direction: column;
}

.top-header {
    flex-direction: column;
    position: relative;
    text-indent: 45px;
    font-size: 60px;
}

.left-to-right {
    display: flex;
    padding-right: 40px;
    flex-direction: row;
    margin-left: 115px;
    margin-top: -71px;
    flex-direction: row;
}

.NavPanel {
    flex-direction: column;
    padding-top: 20px;
    display: inline-block;
}

body {
    margin: 1px;
}

.NewsHead {
    position: relative;
    font-style: italic;
    font-size: 25px;
    font-family: 'Garamond';
    margin-left: 30px;
    padding-top: 5px;
    text-align: center;
}

.MiddleBar {
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23px;
}

.Politics {
    position: relative;
    font-size: 24px;
    padding: 15px 22px;
    background-color: #000000;
    color: rgb(224, 224, 224);
    text-shadow: 2px 2px 8px #000000;
    margin-left: 370px;
    width: 100px;
    height: 55px;
    font-family: 'Times', 'Courier', 'monospace';
    text-decoration: none;
    margin-right: 100px;

}

.Climate {
    position: relative;
    font-size: 24px;
    padding: 15px 22px;
    background-color: #000000;
    color: rgb(224, 224, 224);
    text-shadow: 2px 2px 8px #000000;
    margin-left: 25px;
    width: 100px;
    height: 55px;
    font-family: 'Times', 'Courier', 'monospace';
    text-decoration: none;
    margin-right: 100px;
}

.Health {
    position: relative;
    font-size: 24 px;
    padding: 15px 22px;
    background-color: #000000;
    color: rgb(224, 224, 224);
    text-shadow: 2px 2px 8px #000000;
    margin-left: 25px;
    width: 100px;
    height: 55px;
    font-family: 'Times', 'Courier', 'monospace';
    text-decoration: none;
    margin-right: 100px;
}

.USNews {
    position: relative;
    font-size: 24px;
    padding: 15px 22px;
    background-color: #000000;
    color: rgb(224, 224, 224);
    text-shadow: 2px 2px 8px #000000;
    margin-left: 25px;
    width: 100px;
    height: 55px;
    font-family: 'Times', 'Courier', 'monospace';
    text-decoration: none;
    margin-right: 100px;
}

.Stories {
    font-size: 24px;
    background-color: #000000;
    padding: 15px 22px;
    color: rgb(224, 224, 224);
    text-shadow: 2px 2px 8px #000000;
    margin-left: 25px;
    width: 100px;
    height: 55px;
    font-family: 'Times', 'Courier', 'monospace';
    text-decoration: none;
    margin-right: 100px;
}

.Logo {
    flex-direction: row;
    width: 200px;
    height: 200px;
    margin-left: -44px;
    margin-top: -15px;

}

.Tabs a {
    flex-direction: column;
    position: relative;
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding: 16px 26px;
    margin-left: 25px;
    width: 57px;
    height: 22px;
    font-family:'Garamond';
    font-weight: bold;
    text-decoration: none;
    letter-spacing: .5mm;
    margin: 0px;
}

.navmen
{
    margin:auto;
}

.Elim {
    font-size: 29px;
    margin-top: 0px;
    text-decoration: underline;
    font-style: italic;
    color: #21202d;
}

.NavPanelCon {
    margin-top: 50px;
}