<div class="NavPanel">
  <a class="Politics" href="#Politics">Politics</a>
  <a class="Climate" href="#Climate">Climate</a>
  <a class="Health" href="#Health">Health</a>
  <a class="USNews" href="#USNews">U.S News</a>
  <a class="Stories" href="#Stories">Stories</a>


</div>



<p class="NewsHead"> Eliminate misinformation - All the real news in one place</p>

<div *ngFor="let sec of data">
  <NewsSec [newsData]=sec></NewsSec>
</div>


<!-- 


<NewsSec id="Politics" title="Politics" mainImgDec="Boris Johnson has trouble in class" image="BorisSample.jpg"
  Subheadline1="(BBC) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at."
  Subheadline2="(AP) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at."
  Subheadline3="(AP) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at.">
</NewsSec>

<NewsSec id="Climate" title="Climate" mainImgDec="(AP) Large Dog sits on Ocean. He is a lonely sad dog. #SadDogs"
  image="ClimateSample.jpg"
  Subheadline1="(AP) Cras tincidunt efficitur porttitor. Cras tortor ipsum, ultricies id velit et, sodales maximus elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac."
  Subheadline2="(C-SPAN) Cras tincidunt efficitur porttitor. Cras tortor ipsum, ultricies id velit et, sodales maximus elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac."
  Subheadline3="(BBC) Cras tincidunt efficitur porttitor. Cras tortor ipsum, ultricies id velit et, sodales maximus elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac.">
</NewsSec>

<NewsSec id="Health" title="Health"
  mainImgDec="(AP) Vaccines are simply just modern sense. Yet many Americans wont have it." image="HealthSample.jpg"
  Subheadline1="(BBC)Cras viverra a felis porta aliquet. Donec consequat, mauris ultrices molestie luctus.."
  Subheadline2="(CSPAN)Cras viverra a felis porta aliquet. Donec consequat, mauris ultrices molestie luctulus"
  Subheadline3="C(SPAN)Cras viverra a felis porta aliquet. Donec consequat, mauris ultrices molestie luctus.">
</NewsSec>

<NewsSec id="USNews" title="U.S News" mainImgDec="(AP) A women protest ROE v WADE SC case. Protect Abortion rights."
  image="USNEWSEXAMPLE2.jpg"
  Subheadline1="(C_SPAN)Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum non odio non convallis. Praesent sagittis pharetra."
  Subheadline2="(AP) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum non odio non convallis. Praesent sagittis pharetra."
  Subheadline3="(BBC) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum non odio non convallis. Praesent sagittis pharetra.">
</NewsSec>

<NewsSec id="Stories" title="Stories"
  mainImgDec="(AP) Hear the stories of the millions of immigrants facing trouble at the borders."
  image="StoriesExample.jpg"
  Subheadline1="(BBC)Cras viverra a felis porta aliquet. Donec consequat, mauris ultrices molestie luctus.."
  Subheadline2="(CSPAN)Cras viverra a felis porta aliquet. Donec consequat, mauris ultrices molestie luctulus"
  Subheadline3="C(SPAN)Cras viverra a felis porta aliquet. Donec consequat, mauris ultrices molestie luctus.">
</NewsSec> -->