<div class="NewsSections">
    <div class="Topic-Heading">
        <h2 class="Header">{{title}}</h2>
        <hr class="Heading-Bar">
    </div>
    <div class="Full-Panel">
        <div class="Left">
            <img src="assets/IMAGES/{{image}}" alt="Image not loading properly">
            <p> {{mainImgDec}}</p>
        </div>
        <div class="Right">
            <h1> {{Subheadline1}}</h1>
            <hr class="Sep">
            <h1>{{Subheadline2}}</h1>
            <hr class="Sep">
            <h1>{{Subheadline3}}</h1>
        </div>
    </div>
</div>
