<div>
    <div><h1 class="Sign-Up">Sign Up</h1></div>
    <div class="motivate-div"><h2 class="motivate">Be apart of the change</h2></div>
    <p class="Sign-Up-Dec">Please fill out this form to make an account</p>
    <hr class="Start-Form">
</div>

<div class="Line-Form">
    <div class="Full-Info">
        <label for="email"><b class="Guide">Email</b></label>
        <input class="Input-Box" type="text" placeholder="Enter Email" name="email" required>
    </div>
</div>

<div class="Line-Form">
    <div class="Full-Info">
        <label for="password"><b class="Guide">Password</b></label>
        <input class="Input-Box" type="text" placeholder="Enter Password" name="password" required>
    </div>
</div>

<div class="Line-Form">
    <div class="Full-Info">
        <label for="password"><b class="Guide">Confirm Password</b></label>
        <input class="Input-Box" type="text" placeholder="Confirm Password" name="password" required>
    </div>
</div>

<label>
    <input class="Remember-Box" type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember
    me
</label>


<div class="Create-Button">
    <button class="Create-Account">Create Account!</button>
</div>