<Header></Header>
<NewsSec title="Trending" mainImgDec="Man was found alive hours before he was found dead" image="CrimeEx.jpg"
  Subheadline1="(BBC) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at."
  Subheadline2="(AP) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at."
  Subheadline3="(AP) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at.">
</NewsSec>

<NewsSec title="Politics" mainImgDec="Boris Johnson has trouble in class" image="BorisSample.jpg"
  Subheadline1="(BBC) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at."
  Subheadline2="(AP) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at."
  Subheadline3="(AP) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at.">
</NewsSec>

<NewsSec title="Climate" mainImgDec="(AP) Large Dog sits on Ocean. He is a lonely sad dog. #SadDogs"
  image="ClimateSample.jpg"
  Subheadline1="(AP) Cras tincidunt efficitur porttitor. Cras tortor ipsum, ultricies id velit et, sodales maximus elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac."
  Subheadline2="(C-SPAN) Cras tincidunt efficitur porttitor. Cras tortor ipsum, ultricies id velit et, sodales maximus elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac."
  Subheadline3="(BBC) Cras tincidunt efficitur porttitor. Cras tortor ipsum, ultricies id velit et, sodales maximus elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac.">
</NewsSec>

<NewsSec title="Health" mainImgDec="(AP) Vaccines are simply just modern sense. Yet many Americans wont have it."
  image="HealthSample.jpg"
  Subheadline1="(BBC)Cras viverra a felis porta aliquet. Donec consequat, mauris ultrices molestie luctus.."
  Subheadline2="(CSPAN)Cras viverra a felis porta aliquet. Donec consequat, mauris ultrices molestie luctulus"
  Subheadline3="C(SPAN)Cras viverra a felis porta aliquet. Donec consequat, mauris ultrices molestie luctus.">
</NewsSec>

<NewsSec title="U.S News" mainImgDec="(AP) A women protest ROE v WADE SC case. Protect Abortion rights."
  image="USNEWSEXAMPLE2.jpg"
  Subheadline1="(C_SPAN)Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum non odio non convallis. Praesent sagittis pharetra."
  Subheadline2="(AP) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum non odio non convallis. Praesent sagittis pharetra."
  Subheadline3="(BBC) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum non odio non convallis. Praesent sagittis pharetra.">
</NewsSec>

<NewsSec title="Stories" mainImgDec="(AP) Hear the stories of the millions of immigrants facing trouble at the borders."
  image="StoriesExample.jpg"
  Subheadline1="(BBC)Cras viverra a felis porta aliquet. Donec consequat, mauris ultrices molestie luctus.."
  Subheadline2="(CSPAN)Cras viverra a felis porta aliquet. Donec consequat, mauris ultrices molestie luctulus"
  Subheadline3="C(SPAN)Cras viverra a felis porta aliquet. Donec consequat, mauris ultrices molestie luctus.">
</NewsSec>