<div class="Full-Modal">

    <div class="Title">
        <h1>Verum News</h1>
    </div>

    <p class="Long-Dec">
        Verum News is comprised of 3 different components that promote the elimination of misinformation
        and the disruption of current media/press organizations.
        Verum News is meant to completely change the way we get out the news.
        A majority of news sites these days will overload you with information and spicy headlines in order to keep you
        on the site and impress their sponsors. Verum is the opposite.

        Verum news does not have any ads or sponsorships.
        Verum news is meant to give constantly updating news that is unbiased and completely reliable. Verum news does
        not display a ton of headlines so that the user can stay focused and learn in-depth about a variety of issues as
        opposed to learning very little about a plethora of information.

    </p>
</div>